<%- model_class = Blog -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:user) %></th>
  </tr>
  </thead>
  <tbody>
  <% @blogs.each do |blog| %>
      <tr id="blog-row-<%= blog.id %>">
        <td class="blog-author"><%= link_to blog.name, blog %></td>
        <td class="blog-title"><%= blog.user.username %></td>
        <td>
          <% if can? :update, blog %>
            <%= link_to 'Edit', edit_blog_path(blog) %>
          <% end %>
        </td>
        <td>
          <% if can? :destroy, blog %>
            <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<% console %>
