<% comments.each do |comment| %>
<% if comment.approved || (@blog.user_id.equal? current_user.id) || (comment.user_id.equal? current_user.id) %>
<div class="comment-show" id="comment-<%= comment.id %>" >
  <div class="comment">
    <% if can? :destroy, @comment %>
      <%= link_to "×", comment_path(comment), :method => :delete, :remote => true, :confirm => "Are you sure you want to remove this comment?", :disable_with => "×", :class => 'close remove-comment-button' %>
    <% end %>
    <% if can? :create, Comment %>
      <%= link_to "Reply","#", class: "show-reply-button" %>
    <% end %>
    <h4>
      <%= comment.user.username %>
      <small><%= comment.updated_at %></small>
      <% if comment.approved %>
        <%= link_to "Like", like_comment_path(comment), method: :put %> | 
        <%= link_to "Dislike", dislike_comment_path(comment), method: :put %> | 
        <%= comment.score %>
      <% end %>
      <% unless comment.approved %> Waiting for approval. <% end %>
      <% if @blog.user_id.equal? current_user.id %>
        <%= link_to "Approve", approve_comment_path(comment), method: :put unless comment.approved %>
      <% end %>
    </h4>
    <p><%= comment.body %></p>
    <% unless current_user.nil? %>
    <div class="reply-form">
      <%= render :partial => "comments/form", :locals => { :comment => Comment.build_from(comment.commentable, current_user.id, ""), :comment_id => comment.id } %>
    </div>
    <% end %>
  </div>
  <%= render partial: "comments/comment", locals: {comments: comment.children} %>
</div>
<% end %>
<% end %>
