<% comments.each do |comment| %>
<div class="comment-show" id="comment-<%= comment.id %>" >
  <div class="comment">
    <%= link_to "×", comment_path(comment), :method => :delete, :remote => true, :confirm => "Are you sure you want to remove this comment?", :disable_with => "×", :class => 'close remove-comment-button' %>
    <%= link_to "Reply","#", class: "show-reply-button" %>
    <h4>
      <%= comment.user.username %>
      <small><%= comment.updated_at %></small>
    </h4>
    <p><%= comment.body %></p>
    <div class="reply-form">
      <%= render :partial => "comments/form", :locals => { :comment => Comment.build_from(comment.commentable, current_user.id, ""), :comment_id => comment.id } %>
    </div>
  </div>
  <%= render partial: "comments/comment", locals: {comments: comment.children} %>
</div>
<% end %>