<%= tinymce_assets %>
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, class: "tinymce" %>
  </div>
  <div class="field">
    <%= f.label :can_be_commented %><br>
    <%= f.check_box :can_be_commented %>
  </div>
  <div class="field">
    <%= f.label :comments_needs_approval %><br>
    <%= f.check_box :comments_needs_approval %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <%= f.hidden_field :blog_id, :value => @blog.id %>
<% end %>
<%= tinymce %>
