<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= post.title %>
      <br>
      <small>
        <% post.tags.each do |tag| %>
          <%= link_to tag.name, tag_filter_path(tag_name: tag.name) %>
        <% end %>
      </small>
    </h4>
    <%= post.body.html_safe %>
    <div class="comments-header">
      <h4>
        <%= post.comment_threads.count == 0 ? "no" : post.comment_threads.count %> comments
      </h4>
    </div>
    <% unless current_user.nil? %>
    <div class="comment-form">
      <%= render :partial => "comments/form", :locals => { :comment => Comment.build_from(post, current_user.id, ""), :comment_id => nil } %>
    </div>
    <% end %>
    <div class="comments-container">
        <%= render :partial => 'comments/comment', :locals => { comments: post.root_comments } %>
    </div>
  </div>
  <div class="media-right">
    <% if can? :update, post %>
    <span>
      <%= link_to edit_post_path(post) do %>
        <i class="fa fa-pencil text-nowrap"> Edit</i>
      <% end %>
    </span>
    <% end %>
    <% if can? :destoy, post %>
      <span>
        <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-trash-o text-nowrap"> Destroy</i>
        <% end %>
      </span>
    <% end %>
  </div>
</div>
