<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= post.title %>
      <br>
      <small><%= post.all_tags %></small>
    </h4>
    <%= post.body.html_safe %>
    <div class="comments-header">
      <h4>
        <%= post.comment_threads.count == 0 ? "no" : post.comment_threads.count %> comments
      </h4>
    </div>
    <%= render :partial => "comments/form", :locals => { :comment => Comment.build_from(post, current_user.id, ""), :comment_id => nil } %>
    <div class="comments-container">
        <%= render :partial => 'comments/comment', :locals => { comments: post.root_comments } %>
    </div>
  </div>
  <div class="media-right">
    <span>
      <%= link_to 'Edit', edit_post_path(post) %>
    </span>
    <span>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>
  </div>
</div>